/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}



.text-popup {
    animation: textPopup 6s cubic-bezier(0.4, 0, 0.2, 1);
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}
@keyframes textPopup {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    35% {
        opacity: 1;
        transform: translateY(-200px) scale(1.2);
    }
    100% {
        opacity: 0;
        transform: translateY(-1000px) scale(1.5);    
    }
}

