/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}



.text-popup {
    animation: textPopup 4s;
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}
@keyframes textPopup {
    0%, 100% {
        opacity: 0;
    }
   1% {
        opacity: 1;
        transform: translateY(-5px);
    }
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(-100px);
    }
    30% {
        transform: translateY(-200px);
    }
    40% {
        transform: translateY(-350px);
    }
    50% {
        transform: translateY(-550px);
    }
    100% {
        opacity: 0;
        transform: translateY(-1800px);    
    }
}
